<div class="container center container-post">
  <div class="row">
    <div class="col-md-12">
      <app-navbar-one></app-navbar-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="titulo">Nutrição e reeducação alimentar</h1>
      <img src="../../../../../assets/imgs/home-imgs/feed-content/acucar.jpg" class="img-post" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>

        <h2 class="subtitulo">Dicas para consumir menos açúcar</h2>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
      <div>
        <span class="subsubsubtitulo float-left">Postado em: 25/04/2021</span>
        <span class="subsubsubtitulo float-right"> Autora: Julia</span>
      </div>
      <div class="">
        <div class="linha  linha-post"></div>
      </div>
      <div class="align-content-post">
        <div class="post">
          O problema de consumir o açúcar em excesso está relacionado ao surgimento de doenças como diabetes, obesidade, e hipertensão arterial. Então, é necessário reeducar o paladar para consumir menos açúcar!!
          <div class="img-post-content">
            <img src="../../../../../assets/imgs/home-imgs/feed-content/menosacucar.jpg" class="img-post-inside" alt="">
          </div>
          As melhores dicas para diminuir o consumo de açucar são:
          <ul>
            <li>Melhore seu café da manhã: opte pelo consumo de frutas, ovos, oleoginosas e aveia</li>
            <li>Elimine alimentos industrializados de sua alimentação</li>
            <li>Corte o refrigerante da sua dieta e prefira água ou suco de frutas naturais</li>
            <li>Tire o açúcar do café</li>
            <li>Prefira chocolate 70% no mínimo</li>
          </ul>
        </div>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-like-coment-share-salve></app-like-coment-share-salve>
    </div>
  </div>
  <div class="">
    <div class="linha"> </div>
  </div>
</div>