<div class="container center container-post">
  <div class="row">
    <div class="col-md-12">
      <app-navbar-one></app-navbar-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="titulo">Nutrição e reeducação alimentar</h1>
      <img src="../../../../../../assets/imgs/home-imgs/feed-content/jejum1.jpg" class="img-post" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>

        <h2 class="subtitulo">Jejum intermitente e seus benefícios</h2>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
      <div>
        <span class="subsubsubtitulo float-left">Postado em: 25/04/2021</span>
        <span class="subsubsubtitulo float-right"> Autora: Julia</span>
      </div>
      <div class="">
        <div class="linha  linha-post"></div>
      </div>
      <div class="align-content-post">
        <div class="post">
          O primeiro benefício que podemos citar do jejum é a restrição calórica (diminuição da quantidade de calorias que você consome durante o dia). Essa restrição tem efeitos diretos no envelhecimento saudável e na expectativa de vida. Isso porque além de levar ao emagrecimento, diminui a produção de radicais livres, compostos altamente inflamatórios.
          Melhora do controle da glicose, aumento da nossa resistência em situações de estresse (físico e psicológico).

          <div class="img-post-content">
            <img src="../../../../../../assets/imgs/home-imgs/feed-content/jejum2.jpg" class="img-post-inside" alt="">
          </div>
          E como isso acontece? É como se no jejum ocorresse uma “faxina” no nosso organismo: as células defeituosas são destruídas, e os órgãos do trato digestivo tem um “descanso” e conseguem ter um sossego e se recuperar das agressões as quais nos submetemos constantemente, o pâncreas tem um descanso e não produ

        </div>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-like-coment-share-salve></app-like-coment-share-salve>
    </div>
  </div>
  <div class="">
    <div class="linha"> </div>
  </div>

</div>