<div class="container">
  <nav>
    <a routerLink="/cadastro" class="icones">
      <span> <img src="../../../assets/icons/arrow_back_ios_black_24dp.svg" alt="" class="material-icons"> </span> </a>

  </nav>
  <div class="container">
    <header>
      <div class="row center">
        <div class="col-md-12">
          <h1 class="titulo">StayHealth</h1>
        </div>
      </div>
      <div class="row center">
        <div class="col-md-12">
          <div class="conteudo-box">
            <span class="text-style-termo">
              Agimos sempre com honestidade! <br> Por isso, sinta-se a vontade para ler e entender o nosso termo, e, caso tenha dúvidas, conte com a gente para esclarecê-las<br>(atendimento@stayhealth.com.br)
            </span>
          </div>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="col-md-12">
        <div class="linha">
        </div>
      </div>
    </div>
    <div class="row center">
      <div class="col-md-12">
        <div class="principal-content">
          <h2 class="subtitulo">Termos de uso e serviços</h2>
          <img src="../../../assets/imgs/termo/undraw_Terms_re_6ak4.svg" alt="Ilustração de um aparelho celular escolhendo entre maça, agua ou barrinhas de cereal" class="imagem-login">
          <div class="text-style-termo">
            <h1 class="subtitulo">STAYHEALTH<br> TERMOS E CONDIÇÕES DE USO</h1>
            <h2 class="subtitulo">Ultima atualização: 1° de abril de 2021</h2>
            <span class="termos-de-serviços">
              AGREEMENT TO TERMS

              These Terms and Conditions constitute a legally binding agreement made between you, whether personally or on behalf of an entity (“you”) and [business entity name] (“we,” “us” or “our”), concerning your access to and use of the [website name.com] website as well as any other media form, media channel, mobile website or mobile application related, linked, or otherwise connected thereto (collectively, the “Site”).

              You agree that by accessing the Site, you have read, understood, and agree to be bound by all of these Terms and Conditions. If you do not agree with all of these Terms and Conditions, then you are expressly prohibited from using the Site and you must discontinue use immediately.

              Supplemental terms and conditions or documents that may be posted on the Site from time to time are hereby expressly incorporated herein by reference. We reserve the right, in our sole discretion, to make changes or modifications to these Terms and Conditions at any time and for any reason.

              We will alert you about any changes by updating the “Last updated” date of these Terms and Conditions, and you waive any right to receive specific notice of each such change.

              It is your responsibility to periodically review these Terms and Conditions to stay informed of updates. You will be subject to, and will be deemed to have been made aware of and to have accepted, the changes in any revised Terms and Conditions by your continued use of the Site after the date such revised Terms and Conditions are posted.

              As part of the functionality of the Site, you may link your account with online accounts you have with third-party service providers (each such account, a “Third-Party Account”) by either: (1) providing your Third-Party Account login information through the Site; or (2) allowing us to access your Third-Party Account, as is permitted under the applicable terms and conditions that govern your use of each Third-Party Account.

              You represent and warrant that you are entitled to disclose your Third-Party Account login information to us and/or grant us access to your Third-Party Account, without breach by you of any of the terms and conditions that govern your use of the applicable Third-Party Account, and without obligating us to pay any fees or making us subject to any usage limitations imposed by the third-party service provider of the Third-Party Account.

              By granting us access to any Third-Party Accounts, you understand that (1) we may access, make available, and store (if applicable) any content that you have provided to and stored in your Third-Party Account (the “Social Network Content”) so that it is available on and through the Site via your account, including without limitation any friend lists and (2) we may submit to and receive from your Third-Party Account additional information to the extent you are notified when you link your account with the Third-Party Account.

              Depending on the Third-Party Accounts you choose and subject to the privacy settings that you have set in such Third-Party Accounts, personally identifiable information that you post to your Third-Party Accounts may be available on and through your account on the Site.

              Please note that if a Third-Party Account or associated service becomes unavailable or our access to such Third-Party Account is terminated by the third-party service provider, then Social Network Content may no longer be available on and through the Site. You will have the ability to disable the connection between your account on the Site and your Third-Party Accounts at any time.

              PLEASE NOTE THAT YOUR RELATIONSHIP WITH THE THIRD-PARTY SERVICE PROVIDERS ASSOCIATED WITH YOUR THIRD-PARTY ACCOUNTS IS GOVERNED SOLELY BY YOUR AGREEMENT(S) WITH SUCH THIRD-PARTY SERVICE PROVIDERS.

              We make no effort to review any Social Network Content for any purpose, including but not limited to, for accuracy, legality, or non-infringement, and we are not responsible for any Social Network Content.

              You acknowledge and agree that we may access your email address book associated with a Third-Party Account and your contacts list stored on your mobile device or tablet computer solely for purposes of identifying and informing you of those contacts who have also registered to use the Site.

              You can deactivate the connection between the Site and your Third-Party Account by contacting us using the contact information below or through your account settings (if applicable). We will attempt to delete any information stored on our servers that was obtained through such Third-Party Account, except the username and profile picture that become associated with your account.
            </span>
            <h2 class="subsubtitulo"><br>DÚVIDAS? NOS CONTATE!</h2>
            <h3 class="text-style subsubtitulo">
              StayHealth<br>
              Rua dos xis, n°125<br> Belo Horizonte, MG - Brasil<br><br>
              +55 31 35659856<br>
              atendimento@stayhealth.com.br
            </h3>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>