.container{
  padding-top: 20px;
}

form{
  text-align: left;
  padding: 20px;
}
.radio-inline {
  display: inline-block;
  margin-left: 10px;
}
.a-styles {
  text-decoration: underline;
}
.a-styles:hover {
  color: #6b63f9;
}
.altura-peso{
  text-align: center;
  display: inline-block;
}
.frome, .inlinefor{
  display: inline-block;
  
}


/////////////////////////////////////////////////////////////////////////////////////


@media (min-width: 992px) and (max-width: 1199.98px) {
  .imagem-login{
    width: 60%;
  } 
  form{
    padding: 50px 0px;
    margin-left: 245px;
    width: 450px;
  }
  .form-group{
    padding: 10px 0px;
  }
}
/*Dispositivos extra large (desktops grandes com 1200px ou mais)*/

@media (min-width: 1200px) {
  .imagem-login{
    width: 50%;
  } 
  form{
    padding: 50px 0px;
    margin-left: 345px;
    width: 450px;
  }
  .form-group{
    padding: 10px 0px;
  }
  

}
@media (min-width: 1400px) {
  .imagem-login{
    width: 40%;
  } 
  form{
    margin-left: 440px;
    width: 400px;
  }
  .form-group{
    padding: 10px 0px;
  }
} 
@media (min-width: 1700px) { 

  }
  
@media (min-width: 1900px) {
  
}
@media (min-width: 2000px) {

}
@media (min-width: 2000px) {
  
}

@media (min-width: 2500px) {
  
}
@media (min-width: 3800px) {
 
}
