.container{
  padding-top: 20px;
}

form{
  text-align: left;
  padding: 20px;
}
.radio-inline {
  display: inline-block;
  margin-left: 10px;
}
.a-styles {
  text-decoration: underline;
}
.a-styles:hover {
  color: #6b63f9;
}
.altura-peso{
  text-align: center;
  display: inline-block;
}


