<div class="container">
  <nav>
    <a routerLink="/start" class="icones">
      <span><img src="../../../assets/icons/arrow_back_ios_black_24dp.svg" alt="" class="material-icons"> </span>
    </a>
  </nav>
  <header>
    <div class="row center">
      <div class="col-md-12">
        <h1 class="titulo">Cadastre-se</h1>
      </div>
    </div>
    <div class="row center">
      <div class="col-md-12">
        <div class="conteudo-box">
          <span class="subtitulo">
            Que bom que está aqui! Vamos começar?
          </span>
        </div>
        <img src="../../../assets/imgs/cadastro/undraw_welcome_cats_thqn.svg" alt="Ilustração de um aparelho celular escolhendo entre maça, agua ou barrinhas de cereal" class="imagem-login">
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-md-12">
      <div class="linha">
      </div>
    </div>
  </div>
  <div>
    <div class="row center">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <label class="text-style">Nome:</label>
            <input type="name" class="form-control">
          </div>
          <div class="form-group">
            <label class="text-style">E-mail:</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group">
            <label class="text-style">Senha:</label>
            <input type="password" class="form-control">
          </div>
          <div class="form-group">
            <div class="form-group">
              <label class="text-style inlinefor">Altura:</label>
              <input type="altura" class="form-control frome">
            </div>
          </div>
          <div class="form-group">
            <div class="form-group">
              <label class="text-style inlinefor">Peso:</label>
              <input type="peso" class="form-control frome">
            </div>
          </div>

          <div>
            <label class="text-style">Sexo:</label>
            <div class="form-check radio-inline ">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
              <label class="form-check-label text-style" for="gridRadios1">
                Masculino
              </label>
            </div>

            <div class="form-check radio-inline ">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label text-style" for="gridRadios2">
                Feminino
              </label>
            </div>
            <div class="form-check radio-inline ">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
              <label class="form-check-label text-style" for="gridRadios3">
                Não Declarar </label>
            </div>
          </div>
          <div class="form-check center">
            <input type="checkbox" class="form-check-input">
            <a routerLink="/termo-de-uso"><label class="form-check-label text-style a-styles">Li e concordo com os termos de uso!</label></a>
          </div>
          <div class="center">
            <a routerLink="/home"><button type="submit" class="botao">Cadastrar</button></a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>