<div class="container center container-post">
  <div class="row">
    <div class="col-md-12">
      <app-navbar-one></app-navbar-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="titulo">Nutrição e reeducação alimentar</h1>
      <img src="../../../../../../assets/imgs/home-imgs/feed-content/omega3.jpg" class="img-post" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>

        <h2 class="subtitulo">Benefícios do Ômega 3 </h2>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
      <div>
        <span class="subsubsubtitulo float-left">Postado em: 25/04/2021</span>
        <span class="subsubsubtitulo float-right"> Autora: Julia</span>
      </div>
      <div class="">
        <div class="linha  linha-post"></div>
      </div>
      <div class="align-content-post">
        <div class="post">
          O ômega 3 é um ácido graxo que nosso corpo não produz naturalmente, portanto sua obtenção é possível através da suplementação e alimentação. Podem ser encontrados especialmente nos peixes de mar, como salmão, atum e sardinha, e nas sementes como chia e linhaça.
          <div class="img-post-content">
            <img src="../../../../../../assets/imgs/home-imgs/feed-content/energia.jpg" class="img-post-inside" alt="">
          </div>
          Os principais e conhecidos beneficios do omega 3 incluem:
          <ul>
            <li>Diminui a inflamação</li>
            <li>Protege contra doenças cardiovasculares</li>
            <li>Acelera a recuperação muscular</li>
            <li>Fortalece o sistema de defesa</li>
            <li>É fonte de energia</li>
            <li>Reduz o estresse oxidativo</li>
          </ul>
        </div>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-like-coment-share-salve></app-like-coment-share-salve>
    </div>
  </div>
  <div class="">
    <div class="linha"> </div>
  </div>

</div>