<div class="leftside-bg center">
  <img src="../../../assets/imgs/sides-background/ar-livre.svg" alt="" class="imagem-bg">
  <img src="../../../assets/imgs/sides-background/bebendo-cha.svg" alt="" class="imagem-bg">
  <img src="../../../assets/imgs/sides-background/corrida-com-barra.svg" alt="" class="imagem-bg">
  <img src="../../../assets/imgs/sides-background/cozinhando.svg" alt="" class="imagem-bg">
</div>
<div class="rightside-bg  center">
  <img src="../../../assets/imgs/sides-background/pedalando.svg" alt="" class="imagem-bg">
  <img src="../../../assets/imgs/sides-background/pilates.svg" alt="" class="imagem-bg">
  <img src="../../../assets/imgs/sides-background/pronto-pra-correr.svg" alt="" class="imagem-bg">
  <img src="../../../assets/imgs/sides-background/yoga.svg" alt="" class="imagem-bg">
</div>
<div class=" container">
  <header>
    <div class="row center">
      <div class="col-md-12">
        <h1 class="titulo">StayHealth</h1>
      </div>
    </div>
    <div class="row center">
      <div class="col-md-12">
        <div class="conteudo-box">
          <span class="subtitulo">
            Buscamos proporcionar aos nossos usuários de forma gratuíta dicas de como se manter saudável dentro de três pilares:
          </span>
        </div>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-md-12">
      <div class="linha">
      </div>
    </div>
  </div>
  <div class="row center">
    <div class="col-md-4">
      <div class="principal-content">
        <h2 class="subtitulo">Nutrição e reeducação alimentar</h2>
        <img src="../../../assets/imgs/start/alimento.svg" alt="Ilustração de um aparelho celular escolhendo entre maça, agua ou barrinhas de cereal" class="imagem-login">
      </div>
    </div>
    <div class="col-md-4">
      <div class="principal-content">
        <h2 class="subtitulo">Incentivo à atividade física</h2>
        <img src="../../../assets/imgs/start/flexao.svg" alt="Ilustração de um aparelho celular escolhendo entre maça, agua ou barrinhas de cereal" class="imagem-login">
      </div>
    </div>
    <div class="col-md-4">
      <div class="principal-content">
        <h2 class="subtitulo">Saúde emocional</h2>
        <img src="../../../assets/imgs/start/meditacao.svg" alt="Ilustração de um aparelho celular escolhendo entre maça, agua ou barrinhas de cereal" class="imagem-login">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="linha">
      </div>
    </div>
  </div>
  <nav>
    <div class="row center principal-content-login login-box">
      <div class="col-md-6">
        <a routerLink="/login"><button type="button" class="botao">Login</button></a>
      </div>
      <div class="col-md-6">
        <a routerLink="/cadastro"><button type="button" class="botao ">Cadastre-se</button></a>
      </div>
    </div>
  </nav>
</div>
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>