<div class="container center container-post">
  <div class="row">
    <div class="col-md-12">
      <app-navbar-one></app-navbar-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="titulo">Nutrição e reeducação alimentar</h1>
      <img src="../../../../../../assets/imgs/home-imgs/feed-content/vitaminas.jpg" class="img-post" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>

        <h2 class="subtitulo">Vitaminas essenciais na saúde da mulher</h2>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
      <div>
        <span class="subsubsubtitulo float-left">Postado em: 25/04/2021</span>
        <span class="subsubsubtitulo float-right"> Autora: Julia</span>
      </div>
      <div class="">
        <div class="linha  linha-post"></div>
      </div>
      <div class="align-content-post">
        <div class="post">
          As vitaminas são essenciais para o bom funcionamento do organismo, para fortalecer o sistema imune, combater radicais livres, auxiliar no desenvolvimento cognitivo, fornecer energia, auxiliar na absorção de nutrientes, e muito mais!!!
          <div class="img-post-content">
            <img src="../../../../../../assets/imgs/home-imgs/feed-content/saudedamulher.jpg" class="img-post-inside" alt="">
          </div>
          <p> Vitamina A: é um antioxidante, atua retardando o envelhecimento, melhora a visão e também fortalece e beneficia o crescimento dos cabelos;</p>
          <p> Vitamina D: auxilia na absorção de cálcio, alivia os sintomas da TPM e também atua contra o surgimento de doenças como câncer, artrite e esclerose múltipla</p>
          <p> Vitamina C: outro antioxidante muito importante por sua ação no fortalecimento do sistema imunológico e contra radicais livres. Também auxilia no processo de cicatrização e síntese de colágeno, combatendo o envelhecimento precoce;</p>
          <p>Vitamina B12: vitaminas do complexo B são muito importantes para a manutenção da saúde da mulher. Em especial, a vitamina B12 é responsável por auxiliar o metabolismo e a produção de energia, diminuir o estresse, a fadiga e a ansiedade, além de aumentar a fertilidade;</p>
          <p>Cálcio: auxilia a reduzir a pressão alta e os sintomas da TPM;</p>
          <p>Vitamina E: beneficia a fertilidade, pele e atua na queda capilar;</p>
          <p>Ferro: auxilia a combater a anemia, muito comum em mulheres, beneficia o sistema imune e atua no transporte de oxigênio.</p>
        </div>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-like-coment-share-salve></app-like-coment-share-salve>
    </div>
  </div>
  <div class="">
    <div class="linha"> </div>
  </div>

</div>