<div class="container">
  <nav>
    <a routerLink="/login" class="icones">
      <span>
        <img src="../../../assets/icons/arrow_back_ios_black_24dp.svg" alt="" class="material-icons">
      </span>
    </a>

  </nav>
  <header>
    <div class="row center">
      <div class="col-md-12">
        <h1 class="titulo">Resetar Senha</h1>
      </div>
    </div>
    <div class="row center">
      <div class="col-md-12">
        <img src="../../../assets/imgs/resetsenha/senha.svg" alt="Ilustração de um aparelho celular escolhendo entre maça, agua ou barrinhas de cereal" class="imagem-login">
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-md-12">
      <div class="linha">
      </div>
    </div>
  </div>
  <div>
    <div class="row center">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <label class="text-style">Email ou Telefone:</label>
            <input type="email" class="form-control">
          </div>
          <button type="submit" class="botao" routerLink="/login">Enviar link</button>
          <div class="row">
            <div class="col-md-12">
              <div class="linha">
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>