.container{
  padding-top: 40px;
  height: 100vh;
}
form {
  padding: 10px 0px;
}
.form-group {
  text-align: left;
}
.text-style {
  font-family: "Comfortaa", cursive;
  font-size: 1em;
  color: #4d4d4d;
}
.esqueci-senha{
  text-decoration: underline;
}
.leftside-bg, .rightside-bg{
  display: none;
}
/*------------------------------------------------*/
/*-------------START MEDIAQUERIES ----------------*/
/*------------------------------------------------*/
/* Dispositivos extra small (telefones em modo retrato, com menos de 576px) @media (max-width: 575.98px) {Não sei se vou usar esse;}*/
/* Dispositivos small  (telefones em modo paisagem, com 576px ou mais) @media (min-width: 576px) and (max-width: 767.98px) {Não sei se vou usar esse;}*/
@media (max-width: 300px) {
  .titulo {
    font-size: 1.5em;
  }
  .subtitulo {
    font-size: 1em;
  }
}
/*Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .titulo {
    font-size: 3em;
  }
  .imagem-login {
     width: 50%;
  }
  .botao {
    font-size: 1.5em;
  }
  header,
  .principal-content,
  .linha {
    padding-top: 5vh;
  }
  form{
    margin-left: 15vh;
    width: 50%;
  }
}

/*Dispositivos large (desktops com 992px ou mais) */

@media (min-width: 992px) and (max-width: 1199.98px) {
  .imagem-login {
   width: 40%;
  }  header,
  .principal-content,
  .linha {
    padding-top: 4vh;
  }

  .botao {
    font-size: 1.3em;
  }
  form{
    margin-left: 20vh;
    width: 50%;
  }

}

/*Dispositivos extra large (desktops grandes com 1200px ou mais)*/

@media (min-width: 1200px) {
  .titulo {
    font-size: 3em;
  }
  .subtitulo {
    font-size: 2em;
  }

  .imagem-login {
    padding: 10px 0px;
    width: 30%;
  }
  form{
    margin-left: 45vh;
    width: 30%;
  }
  .botao {
    font-size: 1.5em;
  }
  header,
  .principal-content,
  .linha {
    margin: 2vh 0vh;
  }
}

@media (min-width: 1800px) {
  .principal-content-login {
    border: 1px solid #e6e6e6;
  }
  .container {
    padding: 35px;
    border-left: 2px dashed #e4e4e4;
    border-right: 2px dashed #e4e4e4;
  }
  .leftside-bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100vh;
    padding: 10px;
  }
  .rightside-bg {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 18%;
    height: 100vh;
  }
  .imagem-bg {
    opacity: 50%;
    padding: 0;
    margin: 7vh;
    width: 40%;
  }
}
@media (min-width: 1900px) {
  .leftside-bg {
    width: 20%;
  }
  .rightside-bg {
    width: 20%;
  }
  .imagem-bg {
    margin: 5vh;
  }
}
@media (min-width: 2000px) {
  .leftside-bg {
    width: 21.5%;
  }
  .rightside-bg {
    width: 21.5%;
  }
  .imagem-bg {
    width: 30%;
    margin: 8vh;
  }
  form{
    margin-left: 15vw;
  }
}

@media (min-width: 2500px) {
  .leftside-bg {
    padding-top: 100px;
  }
  .rightside-bg {
    padding-top: 100px;
  }
  .container {
    padding: 9vh 2vw;
  }
}
@media (min-width: 2800px) {
  .container {
    padding: 13vh 2vw;
  }
}
@media (min-width: 3800px) {
  .container {
    border: none;
    margin-top: 10vh;
  }
}
