<div class="leftside-bg center">
  <img src="../../../assets/imgs/sides-background/ar-livre.svg" alt="" class="imagem-bg">
  <img src="../../../assets/imgs/sides-background/bebendo-cha.svg" alt="" class="imagem-bg">
  <img src="../../../assets/imgs/sides-background/corrida-com-barra.svg" alt="" class="imagem-bg">
  <img src="../../../assets/imgs/sides-background/cozinhando.svg" alt="" class="imagem-bg">
</div>
<div class="rightside-bg  center">
  <img src="../../../assets/imgs/sides-background/pedalando.svg" alt="" class="imagem-bg">
  <img src="../../../assets/imgs/sides-background/pilates.svg" alt="" class="imagem-bg">
  <img src="../../../assets/imgs/sides-background/pronto-pra-correr.svg" alt="" class="imagem-bg">
  <img src="../../../assets/imgs/sides-background/yoga.svg" alt="" class="imagem-bg">
</div>
<div class="container">
  <nav>
    <a routerLink="/start" class="icones">
      <span>
        <img src="../../../assets/icons/arrow_back_ios_black_24dp.svg" alt="" class="material-icons">
      </span>
    </a>

  </nav>
  <header>
    <div class="row center">
      <div class="col-md-12">
        <h1 class="titulo">Login</h1>
      </div>
    </div>
    <div class="row center">
      <div class="col-md-12">
        <div class="conteudo-box">
          <span class="subtitulo">
            Bem-vindo de volta!
          </span>
        </div>
        <img src="../../../assets/imgs/login/entrando.svg" alt="Ilustração de um aparelho celular escolhendo entre maça, agua ou barrinhas de cereal" class="imagem-login">
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-md-12">
      <div class="linha">
      </div>
    </div>
  </div>
  <div>

    <div class="row center">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <label class="text-style">Email:</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group">
            <label class="text-style">Senha:</label>
            <input type="password" class="form-control">
            <label class="text-style esqueci-senha"><a href="resetsenha.html">Esqueci minha senha</a></label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label text-style">Me mantenha conectado(a)!</label>
          </div>
          <a routerLink="/home"><button type="submit" class="botao">Entrar</button></a>

        </form>
      </div>

    </div>
  </div>
</div>