<div class="container center container-post">
  <div class="row">
    <div class="col-md-12">
      <app-navbar-one></app-navbar-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="titulo">Nutrição e reeducação alimentar</h1>
      <img src="../../../../../../assets/imgs/home-imgs/feed-content/peso.jpg" class="img-post" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>

        <h2 class="subtitulo">Como manter o peso na quarentena</h2>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
      <div>
        <span class="subsubsubtitulo float-left">Postado em: 25/04/2021</span>
        <span class="subsubsubtitulo float-right"> Autora: Julia</span>
      </div>
      <div class="">
        <div class="linha  linha-post"></div>
      </div>
      <div class="align-content-post">
        <div class="post">
          A pandemia do coronavírus e a necessidade de isolamento social levam a altos níveis de ansiedade e stress. Em resposta, o corpo começa a secretar hormônios do stress, incluindo cortisol, que podem levar a maior apetite e desejos mais elevados por alimentos calóricos, ricos em açúcares e gorduras; O isolamento social também é responsável por afetar a saúde mental, o que pode levar, por sua vez, ao aumento de peso.
          <div class="img-post-content">
            <img src="../../../../../../assets/imgs/home-imgs/feed-content/peso2.jpg" class="img-post-inside" alt="">
          </div>
          Segue agora uma lista com 5 dicas imperdiveis para te ajudar na luta contra o sobrepeso:
          <ul>
            <li>usque organizar uma rotina para seu dia a dia e alimente sempre nos mesmos horários. Seguir um cronograma também ajuda a diminuir a ansiedade com a situação atual.
            </li>
            <li>Priorize alimentos naturais</li>
            <li>Faça suas refeições com calma, e fique atento aos sinais de fome, sede e saciedade.</li>
            <li>Crie um cronograma de treinos e estabeleça metas de pelo menos 3 vezes na semana para que os resultados sejam progressivos</li>
            <li>Procure estratégias para lidar com as emoções. A meditação é uma opção!!</li>
          </ul>
        </div>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-like-coment-share-salve></app-like-coment-share-salve>
    </div>
  </div>
  <div class="">
    <div class="linha"> </div>
  </div>

</div>