<div class="container center container-post">
  <div class="row">
    <div class="col-md-12">
      <app-navbar-one></app-navbar-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="titulo">Nutrição e reeducação alimentar</h1>
      <img src="../../../../../../assets/imgs/home-imgs/feed-content/dicas-vida-saudavel.jpg" class="img-post" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
        <h2 class="subtitulo"> Dicas para conquistar uma vida saudável</h2>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
      <div>
        <span class="subsubsubtitulo float-left">Postado em: 25/04/2021</span>
        <span class="subsubsubtitulo float-right"> Autora: Julia</span>
      </div>
      <div class="">
        <div class="linha  linha-post"></div>
      </div>
      <div class="align-content-post">
        <div class="post">
          Aqui temos cinco dicas super rápidas para mudar de hábito e para que você consiga ter uma vida mais saudável:
          <div class="img-post-content">
            <img src="../../../../../../assets/imgs/home-imgs/feed-content/plan.jpg" class="img-post-inside" alt="">
          </div>

          <ul>
            <li>Tenha um plano a seguir</li>
            <li>Organize seu dia na noite anterior</li>
            <li>Escolha com inteligência sua(s) refeições livres da semana</li>
            <li>Saia da zona de conforto sempre que estiver nela</li>
            <li>Aprenda a gostar e respeitar seu corpo</li>
            <li>Procure ajuda profissional</li>
          </ul>
        </div>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
      <div class="">
        <div class="linha"> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-like-coment-share-salve></app-like-coment-share-salve>
    </div>
  </div>
  <div class="">
    <div class="linha"> </div>
  </div>

</div>