html, body { height: 100%; }
body { margin: 0;}
.cursor-link{
    cursor: pointer;
}
.featurette-divider {
    margin: 5rem 0;
}
mat-form-field{
    width: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  background-color: #f3f3f3;
}
a {
  color: #6b63f9d3;
  text-decoration: underline;
}
a::after {
  color: #4d4d4d;
  text-decoration: underline;
}
.icones {
  text-align: center;
  padding: 10px 0px;
  border: 2px solid #6b63f9d3;
  border-radius: 25px;
}
.material-icons {
  text-align: center;
  padding-left: 10px;
  width: 35px;
}
.icones:hover {
  background-color: #6b63f934;
  border: 2px solid #6b63f9;
}
.botao {
  font-family: "Comfortaa", cursive;
  font-size: 1em;
  color: white;
  background-color: #6c63ff;
  margin: 10px 0px;
  padding: 15px;
  border: 1px solid #6198eb;
  border-radius: 10px;
}
.botao:hover {
  background-color: #6198eb;
  border: 1px solid #6c63ff;
}
.botao:active {
  background-color: #3479e0;
}
.linha {
  padding: 5px 0px;
  border-bottom: 1px dashed #9c9c9c;
}
.center {
  text-align: center;
}
.titulo{
  font-family: "Comfortaa", cursive;
  font-size: 3em;
  padding: 10px 0px;
  color: #4d4d4d;
}
.subtitulo {
  font-family: "Comfortaa", cursive;
  font-size: 1.5em;
  padding: 10px 0px;
  color: #4d4d4d;
}
.subsubtitulo {
  font-family: "Comfortaa", cursive;
  font-size: 1em;
  padding: 10px 0px;
  color: #4d4d4d;
}
.subsubsubtitulo {
  font-family: "Comfortaa", cursive;
  font-size: 0.8em;
  padding: 10px 0px;
  color: #4d4d4d;
}
.post {
  text-align: none;
  font-family: "Comfortaa", cursive;
  font-size: 1em;
  padding: 30px 10px;
  color: #4d4d4d;
}
.linha-post{
  padding-bottom: 15px;
}
.align-content-post{
  text-align: left;
}
.img-post{
  width: 400px;
}
.img-post-inside{
 
  // border: 1px solid red;
  padding: 10px;
  width: 400px;
  border-radius: 50px;
}
.img-post-content{
  padding: 15px 0px;
  margin: 10px 0px;
  text-align: center;
  width: 100%;  
  // border:1px solid blue;
}
.imagem-login {  
  width: 60%;
}
.text-style-termo {
  padding: 5px;
  font-family: "Comfortaa", cursive;
  font-size: 0.8em;
  color: #4d4d4d;
}
.leftalign {
  text-align: left;
}
.icons{
  width: 40px;
}
.icones-post{
  text-align: center;
  padding:10px;
}
.icones-post-one{
  width: 35px;
}
.center-icons{
  margin: 0px 50px;
}
.float-left{
  float: left;
  left: 0;
  padding: 0;
}
.float-right{
  float: right;
  right: 0;
  padding: 0;
}
.container-post{
  padding-top: 10px;
}
@media (max-width: 300px) {
  .titulo {
    font-size: 1.5em;
  }
  .subtitulo {
    font-size: 1em;
  }
}
