<div class="container text-center">
  <div class="row text-center">
    <div class="col-md-12 text-center">
      <app-navbar-one></app-navbar-one>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="">
        <div class="linha">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="titulo">Alimentação</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="all-content">
        <div class="btns-recomendados-vertodos">
          <span class="recomendado subsubtitulo">Todos os posts</span>
        </div>
        <div class="recomendados-content">
          <div class="content-box-feed">
            <a routerLink="/beneficiosomega3"><img src="../../../../../assets/imgs/home-imgs/feed-content/omega3.jpg" class="img-content-box-feed" alt="">
              <div class="box-content-div">
                <span class="box-content-span">Os incríveis beneficios do Ômega3</span>
              </div>
            </a>
          </div>
          <div class="content-box-feed">
            <a routerLink="/carboidratos"><img src="../../../../../assets/imgs/home-imgs/feed-content/carb.jpg" class="img-content-box-feed" alt="">
              <div class="box-content-div">
                <span class="box-content-span center">Você sabe oque de fato são carboidratos?</span>
              </div>
            </a>
          </div>
          <div class="content-box-feed">
            <a routerLink="/compulsaoalimentar"><img src="../../../../../assets/imgs/home-imgs/feed-content/compulsao.jpg" class="img-content-box-feed" alt="">
              <div class="box-content-div">
                <span class="box-content-span center">Como controlar a compulsao alimentar?</span>
              </div>
            </a>
          </div>
          <div class="content-box-feed">
            <a routerLink="/jejum"><img src="../../../../../assets/imgs/home-imgs/feed-content/jejum3.jpg" class=" img-content-box-feed" alt="">
              <div class="box-content-div">
                <span class="box-content-span center">Você sabe oque é jejum intermitente?</span>
              </div>
            </a>
          </div>
          <div class="content-box-feed">
            <a routerLink="/menosacucar"><img src="../../../../../assets/imgs/home-imgs/feed-content/acucar.jpg" class=" img-content-box-feed" alt="">
              <div class="box-content-div">
                <span class="box-content-span center">Dicas para reduzir o consumo de açucar</span>
              </div>
            </a>
          </div>
          <div class="content-box-feed">
            <a routerLink="/pesoquarentena"><img src="../../../../../assets/imgs/home-imgs/feed-content/peso.jpg" class=" img-content-box-feed" alt="">
              <div class="box-content-div">
                <span class="box-content-span center">Como manter o peso na quarentena?</span>
              </div>
            </a>
          </div>
          <div class="content-box-feed">
            <a routerLink="/saudedamulher"><img src="../../../../../assets/imgs/home-imgs/feed-content/saudedamulher.jpg" class=" img-content-box-feed" alt="">
              <div class="box-content-div">
                <span class="box-content-span center">Vitaminas essenciais na saúde da mulher</span>
              </div>
            </a>
          </div>
          <div class="content-box-feed">
            <a routerLink="/vidasaudavel"><img src="../../../../../assets/imgs/home-imgs/feed-content/dicas-vida-saudavel.jpg" class=" img-content-box-feed" alt="">
              <div class="box-content-div">
                <span class="box-content-span center">Dicas para conquistar uma vida saudável
                </span>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>

  </div>