.space{
    margin-top: 30px;
}
.card{
    margin: 5px;
}
.card-row{
    margin-top: 20px;
}
.subnav{
    margin: 10px 0px;
}
.suasaude{
    float: left;
    left: 10px;
}

.iconsearch{
    float: right;
    right: 10px;
}
.material-icons{
    width: 45px;
}
.tag-content{
    padding: 10px 0px 40px 0px;
    border: 1px solid red;
  
    
}
.tag{
    padding: 10px;
    margin-right: 10px;    
    border-radius: 50px;;
}
.tag-1{
    border: 2px solid #00c3ff8f;
    background-color: #00c3ff60;
}
.tag-2{
    border: 2px solid #00ff8869;
    background-color: #00ff8860;
}
.tag-3{
    border: 2px solid #ff00d45b;
    background-color: #ff00d460;
}
.recomendados-content{
    border: 1px solid red;
}
.teste{
    width: 200px;
}
.aaa{
    margin: 10px 15px 10px 0px;
    float: left;
}