<div class="container text-center">
    <div class="row text-center">
        <div class="col-md-12 text-center">
            <app-navbar-one></app-navbar-one>
            <app-carousel-one [arrayImages]="images"></app-carousel-one>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <div class="linha">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="subnav">
                <span class="subtitulo suasaude"><u>Sua</u> saúde</span>
                <span class="iconsearch"><img src="../../../assets/icons/search_black_24dp.svg" alt="" class="material-icons"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="tag-content">
                <a routerLink="/"><span class="tag tag-1 subsubtitulo"> Alimentar</span></a>
                <a routerLink="/"><span class="tag tag-2 subsubtitulo"> Fisica</span></a>
                <a routerLink="/"><span class="tag tag-3 subsubtitulo"> Mental & Emocional</span></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="">
                <div class="linha">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="all-content">
                <div class="btns-recomendados-vertodos">
                    <span class="recomendado subsubtitulo">Recomendado</span>
                </div>
                <div class="recomendados-content">
                    <div class="content-box-feed">
                        <a routerLink="/"><img src="../../../assets/imgs/home-imgs/feed-content/compulsao.jpg" class="img-content-box-feed" alt="">
                            <div class="box-content-div">
                                <span class="box-content-span">Como controlar a compulsão alimentar</span>
                            </div>
                        </a>
                    </div>
                    <div class="content-box-feed">
                        <a routerLink="/"><img src="../../../assets/imgs/home-imgs/feed-content/acucar.jpg" class="img-content-box-feed" alt="">
                            <div class="box-content-div">
                                <span class="box-content-span center">Dicas para diminuir a ingestão de açucar</span>
                            </div>
                        </a>
                    </div>
                    <div class="content-box-feed">
                        <a routerLink="/"><img src="../../../assets/imgs/home-imgs/feed-content/vitaminas.jpg" class="img-content-box-feed" alt="">
                            <div class="box-content-div">
                                <span class="box-content-span center">Vitaminas essenciais na saúde da mulher</span>
                            </div>
                        </a>
                    </div>
                    <div class="content-box-feed">
                        <a routerLink="/"><img src="../../../assets/imgs/home-imgs/feed-content/dicas-vida-saudavel.jpg" class="img-content-box-feed" alt="">
                            <div class="box-content-div">
                                <span class="box-content-span center">Dicas para conquistar uma vida saudável</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="all-content">
                <div class="btns-recomendados-vertodos">
                    <span class="recomendado subsubtitulo">Recomendado</span>
                </div>
                <div class="recomendados-content">
                    <div class="content-box-feed">
                        <a routerLink="/"><img src="../../../assets/imgs/home-imgs/feed-content/atividade-fisica.jpg" class="img-content-box-feed" alt="">
                            <div class="box-content-div">
                                <span class="box-content-span">Atividade física é sinonimo de saúde!</span>
                            </div>
                        </a>
                    </div>
                    <div class="content-box-feed">
                        <a routerLink="/"><img src="../../../assets/imgs/home-imgs/feed-content/burnout.jpg" class="img-content-box-feed" alt="">
                            <div class="box-content-div">
                                <span class="box-content-span center">Você conhece a Síndrome de Burnot?</span>
                            </div>
                        </a>
                    </div>
                    <div class="content-box-feed">
                        <a routerLink="/"><img src="../../../assets/imgs/home-imgs/feed-content/sono.jpg" class="img-content-box-feed" alt="">
                            <div class="box-content-div">
                                <span class="box-content-span center">A importancia do sono para nossa saúde</span>
                            </div>
                        </a>
                    </div>
                    <div class="content-box-feed">
                        <a routerLink="/"><img src="../../../assets/imgs/home-imgs/feed-content/carb.jpg" class="img-content-box-feed" alt="">
                            <div class="box-content-div">
                                <span class="box-content-span center">A verdade sobre os carboidratos</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>