<div class="container center">
    <div class="row">
        <div class="col-md-12">
            <app-navbar-one></app-navbar-one>
            <app-carousel-one [arrayImages]="images"></app-carousel-one>
        </div>
        <div class="col-md-12">
            <span class="">Sua Saude ----- </span>
            <span> icon serach</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span> Alimentar</span>
            <span> Fisica</span>
            <span> Mental & Emocional</span>
        </div>
    </div>
</div>