<div class="container center">
    <div class="row">
        <div class="col-md-12">
            <app-navbar-one></app-navbar-one>
            <app-carousel-one [arrayImages]="images"></app-carousel-one>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <div class="linha">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="subnav">
                <span class="subtitulo suasaude"><u>Sua</u> saúde</span>
                <span class="iconsearch"><img src="../../../assets/icons/search_black_24dp.svg" alt="" class="material-icons"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="tag-content">
                <a routerLink="/"><span class="tag tag-1 subsubtitulo"> Alimentar</span></a>
                <a routerLink="/"><span class="tag tag-2 subsubtitulo"> Fisica</span></a>
                <a routerLink="/"><span class="tag tag-3 subsubtitulo"> Mental & Emocional</span></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="">
                <div class="linha">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="">
                <div class="btns-recomendados-vertodos">
                    <span class="recomendado subsubtitulo">Recomendado</span>
                    <a href=""><span class="vertodos subsubtitulo">ver todos</span></a>
                </div>
                <div class="recomendados-content">
                    <div class="content-box-feed">
                        <a routerLink="/"><img src="../../../assets/imgs/home-imgs/nav-slide/pexels-andrea-piacquadio-3763867.jpg" class="img-content-box-feed" alt="">
                            <span class="subsubtitulo" style="display: block;">Exemplo de legenda</span></a>
                    </div>
                    <div class="content-box-feed">
                        <a routerLink="/"><img src="../../../assets/imgs/home-imgs/nav-slide/pexels-andrea-piacquadio-3763867.jpg" class="img-content-box-feed" alt="">
                            <span class="subsubtitulo" style="display: block;">Exemplo de legenda</span></a>
                    </div>
                    <div class="content-box-feed">
                        <a routerLink="/"><img src="../../../assets/imgs/home-imgs/nav-slide/pexels-andrea-piacquadio-3763867.jpg" class="img-content-box-feed" alt="">
                            <span class="subsubtitulo" style="display: block;">Exemplo de legenda</span></a>
                    </div>
                    <div class="content-box-feed">
                        <a routerLink="/"><img src="../../../assets/imgs/home-imgs/nav-slide/pexels-andrea-piacquadio-3763867.jpg" class="img-content-box-feed" alt="">
                            <span class="subsubtitulo" style="display: block;">Exemplo de legenda</span></a>
                    </div>

                </div>
            </div>
            <div class="">
                <div class="linha">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <div class="btns-recomendados-vertodos">
                    <span class="recomendado subsubtitulo">Recentes</span>
                    <a href=""><span class="vertodos subsubtitulo">ver todos</span></a>
                </div>
                <div class="recomendados-content">
                    <div class="content-box-feed">
                        <a routerLink="/"><img src="../../../assets/imgs/home-imgs/nav-slide/pexels-andrea-piacquadio-3763867.jpg" class="img-content-box-feed" alt="">
                            <span class="subsubtitulo" style="display: block;">Exemplo de legenda</span></a>
                    </div>
                    <div class="content-box-feed">
                        <a routerLink="/"><img src="../../../assets/imgs/home-imgs/nav-slide/pexels-andrea-piacquadio-3763867.jpg" class="img-content-box-feed" alt="">
                            <span class="subsubtitulo" style="display: block;">Exemplo de legenda</span></a>
                    </div>
                    <div class="content-box-feed">
                        <a routerLink="/"><img src="../../../assets/imgs/home-imgs/nav-slide/pexels-andrea-piacquadio-3763867.jpg" class="img-content-box-feed" alt="">
                            <span class="subsubtitulo" style="display: block;">Exemplo de legenda</span></a>
                    </div>
                    <div class="content-box-feed">
                        <a routerLink="/"> <img src="../../../assets/imgs/home-imgs/nav-slide/pexels-andrea-piacquadio-3763867.jpg" class="img-content-box-feed" alt="">
                            <span class="subsubtitulo" style="display: block;">Exemplo de legenda</span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>