@media (min-width: 768px) and (max-width: 991.98px) {
  .post {
    font-size: 1.2em;

  }
  .subsubsubtitulo{
    font-size: 1em;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .post {
    font-size: 1.3em;

  }
  .titulo{
    font-size: 2em;
  }
  .subtitulo{
    font-size: 1.5em;
  }
  .subsubsubtitulo{
    font-size: 1em;
  }
  
  .linha-post{
    padding-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .post {
    font-size: 1.3em;

  }
  .titulo{
    font-size: 2em;
  }
  .subtitulo{
    font-size: 1.5em;
  }
  .subsubsubtitulo{
    font-size: 1em;
  }
  
  .linha-post{
    padding-bottom: 20px;
  }
}
@media (min-width: 1400px) {
  
} 
@media (min-width: 1700px) { 


  }
  
@media (min-width: 1900px) {
 
}
@media (min-width: 2000px) {
  
}
@media (min-width: 2000px) {
  
}

@media (min-width: 2500px) {
 
}
@media (min-width: 2800px) {
  
}
@media (min-width: 3800px) {
  
}