<div class="container center">
  <div class="row">
    <div class="col-md-12">
      <img src="../../../../../../assets/imgs/home-imgs/feed-content/compulsao.jpg" class="img-post" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
        <h1 class="titulo">Nutrição e reeducação alimentar</h1>
        <h2 class="subtitulo">Como controlar a compulsão alimentar</h2>
      </div>
      <div class="">
        <div class="linha"></div>
      </div>
      <div>
        <span class="subsubsubtitulo">Postado em: 25/04/2021</span>
        <span class="subsubsubtitulo"> Autora: Julia</span>
      </div>
      <div class="">
        <div class="linha"></div>
      </div>
      <div class="align-content-post">
        <div class="post">
          Compulsão alimentar é um transtorno alimentar e significa a necessidade de comer, mesmo quando não está com fome, em que ocorre a ingestão de grande quantidade de alimentos em pouco tempo.
          <div class="img-post-content">
            <img src="../../../../../../assets/imgs/home-imgs/feed-content/post-compulsao.jpg" class="img-post-inside" alt="">
          </div>

          Pode estar relacionada com estresse, depressão e ansiedade. É necessário ajuda profissional, e essas dicas podem auxiliar no tratamento:
          Não faça dietas muito restritivas
          Consuma alimentos ricos em fibras
          Beba mais água
          Coma devagar
          Faça uma pausa e respire
          Procure ajuda profissional

        </div>
      </div>



    </div>
  </div>
</div>